.tweetBox {
    padding: 20px;
    border-bottom: 10px solid var(--twitter-background);
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
}

.text__input {
    margin-left: 10px;
    flex: 1;
}

.text {
    height: 40px;
    width: 350px;
    border: none;
}

.text__input > input {
    border: none;
}

.tweetButton {
    background-color: var(--twitter-blue) !important;
    color: #fff !important;
    text-transform: capitalize !important;
    font-weight: 600 !important;
    border-radius: 30px !important;
    margin-left: auto !important;
}